<div class="container hz-container">
	<div class="row">
		<form action="/api/" method="POST">
			<div class="form-group">
    <label for="firstname">First Name</label>
    <input name="firstname" type="text"  class="form-control" ng-model="employee.firstName"  placeholder="First Name">
    <span class='help-block hide'>First Name is required</span>
  </div>
	<div class="form-group">
    <label for="lastname">Last Name</label>
    <input name="lastname" type="text" class="form-control" placeholder="Last Name"  ng-model="employee.lastName">
    <span class='help-block hide'>Last Name is required</span>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input ng-model="employee.email" type="text" class="form-control" name="email" placeholder="Email">
    <span class='help-block hide'>Email is required</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" ng-model="employee.password" placeholder="Password">
    <span class='help-block hide'>Password is required</span>
  </div>
  <div class="form-group">
    <label for="password">Confirm your password</label>
    <input type="text" class="form-control" name="confirm_password" ng-model="employee.password" placeholder="Confirm password">
    <span class='help-block hide'>Password is required</span>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" ng-model="employee.phone" class="form-control" name="phone" placeholder="Phone Number">
    <span class='help-block hide'>Phone number is required</span>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
	</div>

</div>
